section#hero {
  padding: 8% 8%;

  div.hero-images {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 45%;

    div.pt-display-img {
      display: flex;
      justify-content: center;
      cursor: pointer;

      img.pt-img {
        @include carousel-image;
      }

      div.pt-carousel-outer {
        display: none;
        position: absolute;
        z-index: 3;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        background-color: $color-black-1;

        div.pt-carousel-inner {
          position: relative;
          width: 40%;
          left: 30%;
          top: 130px;

          div.cr-cancel-btn {
            display: flex;
            justify-content: flex-end;
            cursor: pointer;

            span {
              font-size: 24px;
              color: white;

              :hover {
                color: $primary-color-1;
              }
            }
          }

          div.carousel {
            img {
              @include carousel-image;
            }

            button {
              @include direction-btns;
              margin-left: -25px;
              span:first-child {
                color: black;
                font-size: 20px;
              }
            }

            button.cr-next-btn {
              margin-right: -25px;
            }
          }

          div.cr-thumbnails {
            @include thumbnail-container;

            div.cr-th-div {
              @include thumbnail-divs;
              border: 2px solid $color-black-1;
              background-color: white;

              img.cr-th-img {
                width: 100%;
              }
            }
          }
        }
      }
    }

    div.thumbnails {
      @include thumbnail-container;

      div.th-div {
        @include thumbnail-divs;
        border: 2px solid transparent;

        img.th-img {
          width: 100%;
        }
      }
    }
  }

  div.hero-infos {
    display: grid;

    div.pt-info {
      width: 85%;
      margin: auto;

      h6.pt-company {
        margin-top: 60px;
        font-weight: 800;
        font-size: 14px;
        letter-spacing: 2px;
        color: $primary-color-1;
      }

      h2.pt-title {
        padding-top: 10px;
        font-weight: 800;
        font-size: 2.8rem;
      }

      p.pt-description {
        color: $color-black-1;
        padding-top: 30px;
      }

      div.pt-price {
        display: grid;
        letter-spacing: 1px;
        padding-top: 20px;
        align-items: center;

        h5.pt-discount-price {
          grid-column: 1/2;
          font-weight: 800;
          font-size: 2rem;
        }

        h6 {
          grid-column: 2/20;
          width: fit-content;
          margin-left: 20px;
          background-color: $primary-color-2;
          color: $primary-color-1;
          font-weight: 800;
          padding: 5px 8px;
          border: 1px solid white;
          border-radius: 8px;
        }

        h5.pt-original-price {
          color: $color-greyishblue;
          font-weight: 800;
          font-size: 1rem;
          text-decoration: line-through;
        }
      }

      div.pt-action {
        padding-top: 20px;
        display: grid;
        align-items: center;
        column-gap: 10px;
        row-gap: 20px;

        div.pa-count-btn {
          grid-column: 1/4;
          display: grid;
          grid-template-columns: auto auto auto;
          background-color: $color-lightgreyishblue;
          border-left: 1px solid white;
          border-radius: 8px;
          text-align: center;

          p {
            padding: 15px 0px;
            font-weight: 800;
            margin: 0;
            width: 100%;
          }

          .pa-count-add,
          .pa-count-sub {
            cursor: pointer;

            &:hover {
              @include btn_mask;
            }
          }
        }

        div.pt-atc-btn {
          width: 100%;
          grid-column: 4/7;

          button {
            background-color: $primary-color-1;
            padding: 14px 0px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
              margin-bottom: 0;
              margin-left: 20px;
              font-weight: 800;
              color: white;
            }

            &:hover {
              @include btn_mask;
            }
          }
        }
      }
    }
  }
}
