section#navbar {
  nav {
    @media screen and (max-width: $lg-screen) {
      .nav-div-1 {
        div.nav-toggler-icon {
          position: relative;
          border: none;
          cursor: pointer;
          padding-top: 8px;

          span {
            display: flex;
            width: 27px;
            height: 3px;
            background-color: $color-black-1;
            margin-bottom: 4px;
          }
        }

        a.nav-brand {
          padding-left: 0;
          margin-bottom: 0;
        }
      }

      .nav-div-2 {
        order: 3;
      }

      .nav-div-3 {
        ul {
          li.nav-cart {
            div.cart-active {
              top: 8%;
            }
            div.ca-tooltip {
              top: 18px;
              right: 84px;
            }
          }
        }
      }
    }

    @media screen and (max-width: $md-screen) {
      .nav-div-3 {
        ul {
          li.nav-cart {
            div.cart-active {
              top: 11%;
            }
          }
        }
      }
    }

    @media screen and (max-width: $sm-screen) {
      flex-wrap: nowrap;

      .nav-div-1 {
        div.nav-toggler-icon {
          span {
            width: 23px;
          }

          :last-child {
            margin-bottom: 0;
          }
        }

        div#sm-navbar {
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 4;
          background-color: $color-black-1;

          div.sm-nav-content {
            height: 100%;
            background-color: white;
            width: 70%;
            padding: 23px 0 0 25px;

            div.sm-navbar-cancel {
              position: relative;
              width: fit-content;
              left: 3px;
            }

            ul {
              list-style-type: none;
              padding: 0;
              padding-top: 40px;

              li {
                padding: 10px 0;

                a {
                  text-decoration: none;
                  font-weight: 800;
                  color: black;
                  font-size: 1.3rem;
                  line-height: 1.5;
                }
              }
            }
          }
        }

        a.nav-brand {
          padding: 0;
        }
      }

      .nav-div-2 {
        display: none;
      }

      .nav-div-3 {
        ul {
          li.nav-cart {
            margin-right: 20px;

            div.ca-tooltip {
              top: 18px;
              right: 58px;
            }

            div.cart-active {
              width: 90%;
              top: 13%;
              right: 7%;
            }
            a.nav-link {
              svg {
                path {
                  fill: black;
                }
              }
            }
          }
          li.nav-avatar {
            a {
              .avatar-img {
                width: 35px;
              }
            }
          }
        }
      }
    }
  }
}

section#hero {
  @media screen and (max-width: $md-screen) {
    div.hero-images {
      width: 100%;
    }
    div.hero-infos {
      div.pt-info {
        div.pt-action {
          div.pa-count-btn {
            grid-row-start: 1;
            grid-column: 1 / end;
            margin-right: 0;
            p {
              text-align: center;
            }

            p.pa-count-sub {
              grid-column: 1/2;
            }
            p.pa-count-value {
              grid-column: 2/3;
            }
            p.pa-count-add {
              grid-column: 3 / 4;
            }
          }

          div.pt-atc-btn {
            grid-row-start: 2;
            grid-column: 1 / end;
          }
        }
      }
    }
  }

  @media screen and (max-width: $sm-screen) {
    div.hero-images {
      div.pt-display-img {
        img.pt-img {
          display: none;
        }

        div.pt-carousel-outer {
          display: block;
          position: relative;
          z-index: 1;

          div.pt-carousel-inner {
            width: 100%;
            left: 0;
            top: 0;

            div.cr-cancel-btn {
              display: none;
            }

            div.carousel {
              div.ct-carousel-inner {
                div.ct-cr-item {
                  img {
                    border: none;
                    border-radius: 0;
                  }
                }
              }

              button {
                width: 35px;
                height: 35px;

                span:first-child {
                  font-size: 16px;
                }
              }

              button.cr-prev-btn {
                margin-left: 20px;
              }

              button.cr-next-btn {
                margin-right: 20px;
              }
            }

            div.cr-thumbnails {
              display: none;
            }
          }
        }
      }
      div.thumbnails {
        display: none;
      }
    }

    div.hero-infos {
      padding-bottom: 20%;

      div.pt-info {
        h6.pt-company {
          margin-top: 30px;
          color: $primary-color-1;
        }
        h2.pt-title {
          font-size: 1.8rem;
        }
        p.pt-description {
          padding-top: 15px;
          font-size: 0.9rem;
        }

        div.pt-price {
          align-items: center;

          h5.pt-discount-price {
            grid-column: 1/2;
            font-size: 1.8rem;
          }
          h6.pt-discount {
            grid-column: 2/3;
            text-align: center;
            font-size: 0.9rem;
            margin-left: 0;
          }
          h5.pt-original-price {
            grid-column: 3/12;
            text-align: end;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $sm-screen) {
  section#navbar {
    padding: 0;
  }
  section#hero {
    padding: 0;
  }
}
