section#navbar {
  padding: 0% 7%;

  nav {
    background-color: white !important;
    padding: 0;

    .nav-div-1 {
      display: flex;
      align-items: center;

      div#sm-navbar {
        width: 0%;
        display: none;
      }

      a.nav-brand {
        font-weight: 800;
        font-size: 2rem;
        margin-bottom: 8px;
        margin-right: 40px;
      }
    }

    .nav-div-2 {
      li {
        padding: 25px 0;
        border-bottom: 3px solid transparent;
        transition: all 0.15s ease-in-out;

        &:hover {
          border-color: $primary-color-1;
        }
      }
    }

    .nav-div-3 {
      ul {
        flex-direction: row;
        align-items: center;

        li.nav-cart {
          display: flex;
          align-items: center;
          margin-right: 30px;

          .ca-tooltip {
            display: none;
            position: absolute;
            top: 32px;
            right: 100px;
            background-color: $primary-color-1;
            color: white;
            border: 1px solid $primary-color-1;
            border-radius: 40%;

            h6 {
              text-align: center;
              font-size: 10px;
              padding: 0 7px;
              font-weight: 800;
              margin: 0;
            }
          }

          .cart-active {
            display: none;
            position: fixed;
            z-index: 2;
            background-color: white;
            border: 1px solid transparent;
            border-radius: 8px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 30px -5px,
              rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            min-width: 300px;
            max-width: 350px;
            min-height: 250px;
            top: 12%;
            right: 8%;

            h6.ca-title {
              padding: 20px 0 20px 20px;
              font-weight: 800;
              margin-bottom: 0;
            }

            hr {
              width: 100%;
            }

            .ca-empty {
              color: $color-greyishblue;
              text-align: center;
              font-weight: 800;
              padding-top: 70px;
            }

            .ca-contents {
              display: none;

              .ca-content {
                display: grid;
                padding: 15px 12px;
                justify-content: center;

                &:hover {
                  cursor: pointer;
                }

                img.ca-content-img {
                  width: 58px;
                  border: 2px solid transparent;
                  border-radius: 8px;
                  grid-column: 1/3;
                }

                .ca-content-info {
                  grid-column: 3/6;
                  color: $color-black-1;
                  padding: 0 30px 0 10px;
                  height: inherit;
                  margin: auto;
                  font-size: 16px;

                  h4 {
                    font-weight: 400;
                    font-size: 16px;
                  }

                  span.ca-pt-tprice {
                    font-weight: 800;
                    color: black;
                  }
                }

                div.ca-del-icon {
                  grid-column: 6/7;
                  height: inherit;
                  margin: auto;
                }
              }

              .ca-checkout {
                padding: 10px 15px;

                button {
                  background-color: $primary-color-1;
                  width: 100%;
                  font-weight: 800;
                  color: white;
                  padding: 15px;
                  border-radius: 8px;

                  &:hover {
                    @include btn_mask;
                    color: white;
                  }
                }
              }
            }
          }

          a.nav-link {
            margin: 20px 0;
            padding: 0;
          }
        }

        li.nav-avatar {
          a {
            .avatar-img {
              width: 50px;
              border: 2px solid transparent;
              border-radius: 50%;
              transition: all 0.15s ease-in-out;

              &:hover {
                border: 2px solid $primary-color-1;
                border-radius: 50%;
              }
            }
          }
        }
      }
    }
  }
}

hr.nav-hr {
  width: 86%;
}
