// colors
$primary-color-1: hsl(26, 100%, 55%);
$primary-color-2: hsl(25, 100%, 94%);
$color-darkblue: hsl(220, 13%, 13%);
$color-darkgreyishblue: hsl(219, 9%, 45%);
$color-greyishblue: hsl(220, 14%, 75%);
$color-lightgreyishblue: hsl(223, 64%, 98%);
$color-black-1: hsla(0, 0%, 0%, 0.55);
$color-black-2: hsla(0, 0%, 0%, 0.75);

// fonts
$font-stack: "Kumbh Sans", sans-serif;

// screen-sizes
$lg-screen: 992px;
$md-screen: 768px;
$sm-screen: 480px;
